<div>
    <form name="prescriptionForm" ng-submit="prescriptionForm.$valid && searchCtrl.searchPrescription(search)" novalidate>
        <fieldset class="form-group">
            <strong>Right eye</strong>
            <br>
            Sphere: <input type="number" name="sphere" ng-model="searchCtrl.search.rightEye.sphere" class="form-control" required>
            Cylinder: <input type="number" name="cylinder" ng-model="searchCtrl.search.rightEye.cylinder" class="form-control" required>
            Axis: <input type="number" name="axis" ng-model="searchCtrl.search.rightEye.axis" class="form-control" required>

            <br>
            <strong>Left eye</strong>
            <br>
            Sphere: <input type="number" name="sphere" ng-model="searchCtrl.search.leftEye.sphere" class="form-control" required>
            Cylinder: <input type="number" name="cylinder" ng-model="searchCtrl.search.leftEye.cylinder" class="form-control" required>
            Axis: <input type="number" name="axis" ng-model="searchCtrl.search.leftEye.axis" class="form-control" required>
            <input class="btn btn-primary pull-right" type="submit" value="Submit">
        </fieldset>
    </form>

    <div>
        <p ng-repeat="glasses in searchCtrl.matchingGlasses">
            {{glasses}}
        </p>
    </div>
</div>